/* Стили для AccountComponent */
.account-container {
    width: 60%; /* Установите ширину контейнера */
    max-width: 600px; /* Ограничьте максимальную ширину */
    margin: 20px auto; /* Центрируем контейнер */
    padding: 20px; /* Добавляем отступы */
    background-color: #ffdab9; /* Цвет фона контейнера */
    border-radius: 20px; /* Скругление углов */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для визуального эффекта */
}

.user-username {
    font-size: 2rem; /* Размер шрифта для имени пользователя */
    font-weight: bold; /* Жирный шрифт */
    color: #8b4513; /* Цвет текста */
    margin: 10px 0; /* Отступы сверху и снизу */
    text-align: center;
}

.user-profile-info-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-profile-image {
    max-width: 25%;
    max-height: 25%;
    margin: 2% 0%;
    border-radius: 10px;
    outline-width: 2px;
    outline: solid;
    outline-color: #6a4c93;
    transition: transform 0.3s ease;
    object-fit: contain;
}

.user-posts-text {
    font-size: 2rem; /* Размер шрифта для имени пользователя */
    font-weight: bold; /* Жирный шрифт */
    color: #8b4513; /* Цвет текста */
    margin: 10px 0; /* Отступы сверху и снизу */
    text-align: center;
}

.user-bio-text {
    font-size: 1.2rem; /* Размер шрифта для имени пользователя */
    font-weight: bold; /* Жирный шрифт */
    color: #000000; /* Цвет текста */
    margin: 2% 2%; /* Отступы сверху и снизу */
    max-width: 35%;
    word-wrap: break-word;
}

.user-profile-image:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.user-no-posts-text {
    font-size: 1.5rem; /* Размер шрифта для имени пользователя */
    font-weight: bold; /* Жирный шрифт */
    color: #c4815b; /* Цвет текста */
    margin: 10px 0; /* Отступы сверху и снизу */
    text-align: center;
}

.user-image-bio-box
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%
}

.user-posts-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.user-email {
    font-size: 1.5rem; /* Размер шрифта для email */
    color: #6a4c93; /* Цвет текста для email */
    margin-bottom: 20px; /* Отступ снизу */
    text-align: center;
}